<div class="content container" role="main">
      <!-- justify-content-center => Alinear horizonralmente -->
      <!-- align-items-center => AlinearVerticalmente -->
     <div class="row m-5 justify-content-center" >
           <div class="col col-lg-4">
              <div class="row mt-3 align-items-center">
                  <div class="col col-lg-6">
                    <button type="button" class="btn btn-info">Buy now</button>
                  </div>
                  <div class="col col-lg-6" style="text-align: left;">
                    <p class = "small sub-title">Default</p>
                  </div>
              </div>
              <div class="row mt-3 align-items-center">
                  <div class="col col-lg-6">
                    <button type="button" class="btn btn-info">Buy now</button>
                  </div>
                  <div class="col col-lg-6" style="text-align: left;">
                    <p class = "small title">Hover</p>
                  </div>
              </div>
              <div class="row mt-3 align-items-center">
                  <div class="col col-lg-6">
                    <button type="button" class="btn btn-info">Buy now</button>
                  </div>
                  <div class="col col-lg-6 align-items-center" style="text-align: left;">
                    <p class = "small title">Focus</p>
                  </div>
              </div>
           </div>
           <!-- Fin columna uno -->
           <div class="col col-lg-4">


              <div class="row mt-2 align-items-center" >
                  <div class="col col-lg-7">
                    <div class="card border-default-color" style="width: 13rem; height: 5rem">
                      <div class="card-body" style="text-align: left;">
                          <h6 class="card-title sub-title">Ivory White</h6>
                          <p class="content card-text">For the past 75 years, Sennheiser has put sound first.</p>
                      </div>
                    </div>

                  </div>
                  <div class="col col-lg-5 align-items-center" style="text-align: left;">
                    <p class = "title">Default</p>
                  </div>
              </div>

              <div class="row mt-2 align-items-center">
                  <div class="col col-lg-7">
                    <div class="card border-hover-color" style="width: 13rem; height: 5rem">
                      <div class="card-body" style="text-align: left;">
                          <h6 class="card-title sub-title">Ivory White</h6>
                          <p class="content card-text text-left">For the past 75 years, Sennheiser has put sound first.</p>
                      </div>
                    </div>

                  </div>
                  <div class="col col-lg-5">
                    <p class = "title">Hover</p>
                  </div>
              </div>

              <div class="row mt-2 align-items-center">
                  <div class="col col-lg-7">
                    <div class="card border-selected-color" style="width: 13rem; height: 5rem">
                      <div class="card-body" style="text-align: left;">
                          <h6 class="card-title sub-title">Ivory White....</h6>
                          <p class="content card-text text-left">For the past 75 years, Sennheiser has put sound first.</p>
                      </div>
                    </div>

                  </div>
                  <div class="col col-lg-5">
                    <p class = "title">Selected</p>
                  </div>
              </div>

              <div class="row mt-2 align-items-center">
                  <div class="col col-lg-7">
                    <div class="card border-focus-no-selected-color" style="width: 13rem; height: 5rem">
                      <div class="card-body" style="text-align: left;">
                          <h6 class="card-title sub-title">Ivory White</h6>
                          <p class="content card-text text-left">For the past 75 years, Sennheiser has put sound first.</p>
                      </div>
                    </div>

                  </div>
                  <div class="col col-lg-5">
                    <p class = "title">Focus (Not selected)</p>
                  </div>
              </div>

              <div class="row mt-2 align-items-center">
                  <div class="col col-lg-7">
                    <div class="card border-focus-selected-color" style="width: 13rem; height: 5rem">
                      <div class="card-body" style="text-align: left;">
                          <h6 class="card-title sub-title">Ivory White</h6>
                          <p class="content card-text text-left">For the past 75 years, Sennheiser has put sound first.</p>
                      </div>
                    </div>

                  </div>
                  <div class="col col-lg-5">
                    <p class = "title">Focus(Selected)</p>
                  </div>
              </div>

           </div>

           <!-- Fin columna dos -->
           <div class="col col-lg-4" style="text-align: left;">

              <div class="row mt-2 align-items-center">
                  <div class="col col-lg-6">
                    <div class="card border-default-color justify-content-center align-items-center" style="width: 10rem; height: 5rem">
                      <div class="card-body">
                          <img class="img-fluid img-preview" src="../assets/img/product_detail_x1_mobile_MOMENTUM_True_Wireless_2_Case_black_Sennheiser-1.png" alt="Card image cap">
                      </div>
                    </div>
                  </div>
                  <div class="col col-lg-6" style="text-align: left;">
                    <p class = "title">Default</p>
                  </div>
              </div>


              <div class="row mt-2 align-items-center">
                  <div class="col col-lg-6">
                    <div class="card border-hover-color justify-content-center align-items-center" style="width: 10rem; height: 5rem">
                      <div class="card-body">
                          <img class="img-fluid img-preview" src="../assets/img/product_detail_x1_mobile_MOMENTUM_True_Wireless_2_Case_black_Sennheiser-1.png" alt="Card image cap">
                      </div>
                    </div>
                  </div>
                  <div class="col col-lg-6" style="text-align: left;">
                    <p class = "title">Hover</p>
                  </div>
              </div>



              <div class="row mt-2 align-items-center">
                  <div class="col col-lg-6">
                    <div class="card border-selected-color justify-content-center align-items-center" style="width: 10rem; height: 5rem">
                      <div class="card-body">
                          <img class="img-fluid img-preview" src="../assets/img/product_detail_x1_mobile_MOMENTUM_True_Wireless_2_Case_black_Sennheiser-1.png" alt="Card image cap">
                      </div>
                    </div>
                  </div>
                  <div class="col col-lg-6" style="text-align: left;">
                    <p class = "title">Selected</p>
                  </div>
              </div>


              <div class="row mt-2 align-items-center">
                  <div class="col col-lg-6">
                    <div class="card border-focus-no-selected-color justify-content-center align-items-center" style="width: 10rem; height: 5rem">
                      <div class="card-body">
                          <img class="img-fluid img-preview" src="../assets/img/product_detail_x1_mobile_MOMENTUM_True_Wireless_2_Case_black_Sennheiser-1.png" alt="Card image cap">
                      </div>
                    </div>
                  </div>
                  <div class="col col-lg-6" style="text-align: left;">
                    <p class = "title">Focus(Not selected...)</p>
                  </div>
              </div>

              <div class="row mt-2 align-items-center">
                  <div class="col col-lg-6">
                    <div class="card border-focus-selected-color justify-content-center align-items-center" style="width: 10rem; height: 5rem">
                      <div class="card-body">
                          <img class="img-fluid img-preview" src="../assets/img/product_detail_x1_mobile_MOMENTUM_True_Wireless_2_Case_black_Sennheiser-1.png" alt="Card image cap">
                      </div>
                    </div>
                  </div>
                  <div class="col col-lg-6" style="text-align: left;">
                    <p class = "title">Focus(Selected)</p>
                  </div>
              </div>
           </div>
     </div>

