<div class = "row m-3 justify-content-center main-div">

    <div class="col col-lg-6 col-xs-12">
        <div class="fix-div">
            <div class="card border-default-color justify-content-center align-items-center main-card">
                <div class="card-body">
                    <img
                       class="img-fluid main-image"
                       src="{{urlImage}}"
                       alt="Card image cap"
                    >
                </div>
              </div>

            <div class="row mt-3">
              <div class="col col-lg-4">
                <div class="card justify-content-center align-items-center secodary-card">
                    <div class="card-body">

                        <img
                          class="img-fluid"
                          src="../assets/img/product_detail_x1_mobile_MOMENTUM_True_Wireless_2_Case_black_Sennheiser.png"
                          alt="Card image cap"
                          style="cursor:pointer;"
                          (mouseover)="onMouseOver(1)"
                          (mouseleave) = "onMouseLeave()"
                        >


                    </div>
                  </div>
              </div>
              <div class="col col-lg-4">
                <div class="card justify-content-center align-items-center secodary-card">
                    <div class="card-body">
                        <img
                           class="img-fluid"
                           src="../assets/img/big-MOMENTUM-TRUEWIRELESS2.png"
                           alt="Card image cap"
                           style="cursor:pointer;"
                           (mouseover)="onMouseOver(2)"
                           (mouseleave) =
                           "onMouseLeave()"
                        >
                    </div>
                  </div>
              </div>
              <div class="col col-lg-4">
                <div class="card justify-content-center align-items-center secodary-card">
                    <div class="card-body">
                        <img
                           class="img-fluid"
                           src="../assets/img/Screen Shot 2020-08-11 at 10.15.55.png"
                           alt="Card image cap"
                           style="cursor:pointer;"
                           (mouseover)="onMouseOver(3)"
                           (mouseleave) =
                           "onMouseLeave()"
                         >
                    </div>
                  </div>
              </div>
            </div>

          <div class="row mt-3">
              <div class="col col-lg-4">
                <div class="card justify-content-center align-items-center secodary-card" style="border: none;">
                    <div class="card-body">
                        <img class="img-fluid" src="../assets/img/Path.png" alt="Card image cap">
                    </div>
                     <P class="sub-title-3">Customizable Touch Controls</P>
                  </div>
              </div>
              <div class="col col-lg-4">
                <div class="card justify-content-center align-items-center secodary-card" style="border: none;">
                    <div class="card-body">
                        <img class="img-fluid img-detail-1" src="../assets/img/Shape.png" alt="Card image cap">
                    </div>
                     <P class="sub-title-3">Built-in Equalizer</P>
                  </div>
              </div>
              <div class="col col-lg-4">

                <div class="card justify-content-center align-items-center secodary-card" style="border: none;">
                    <div class="card-body">
                        <img class="img-fluid" src="../assets/img/Combined Shape.png" alt="Card image cap">
                    </div>
                    <P class="sub-title-3">Active Noise Cancellation</P>
                  </div>
              </div>
          </div>
        </div>
    </div>

    <div class="col col-lg-6 col-xs-12 justify-content-center align-items-center">
       <p class="content-price">MOMENTUM True Wireless 2</p>
       <P class="sub-title-2">Earbuds that put sound firste</P>
       <br>

      <P class="content card-text">STARTING AT</P>
      <P class="content-price card-text">$295,95</P>

      <div class="row mt-3">
          <ul class="nav nav-tabs mb-3" id="pills-tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active sub-title" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Overview</a>
            </li>
            <li class="nav-item">
              <a class="nav-link sub-title" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link sub-title" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Contact</a>
            </li>
          </ul>
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
              <p class = "content">
                For the past 75 years, Sennheiser has put sound first. The new MOMENTUM True Wireless 2 is no different. Thanks to leading audio technology and innovation, these new earbuds deliver the best listening experience anytime, anywhere. With improved ergonomics designed for full day wearing and refined touch controls for a more personalised experience, they have been finely crafted for the most discerning listener and aim to simplify your life by enhancing your everyday.
              </p>
            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">...</div>
            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">...</div>
          </div>
      </div>

      <div class="row mt-3">
          <P class="card-text sub-title">Choose your finish.</P>
          <div class="col col-lg-6">
              <div class="card border-default-color justify-content-center align-items-center main-card">
                  <div class="card-body">
                     <P class="content card-text">For the past 75 years, Sennheiser has put sound first. The new MOMENTUM True.</P>
                  </div>
              </div>
          </div>

          <div class="col col-lg-6">
              <div class="card border-default-color justify-content-center align-items-center main-cars">
                  <div class="card-body">
                     <P class="content card-text">Of all of the celestial bodies that capture our attention and fascination as astronomers.</P>
                  </div>
              </div>
          </div>
      </div>
      <div class="row mt-2">
         <P class="sub-title card-text">Would you like to add extended warranty coverage?.</P>

          <div class="col col-lg-12 mb-2">
            <div class="card border-selected-color main-card">
              <div class="card-body" style="text-align: left;">
                  <h6 class="card-title sub-title">2 years coverage</h6>
                  <p class="content card-text text-left">For the past 75 years, Sennheiser has put sound first.</p>
              </div>
            </div>
          </div>
      </div>

      <div class="row mt-2">
          <div class="col col-lg-12">
            <div class="card border-focus-no-selected-color main-card">
              <div class="card-body" style="text-align: left;">
                  <h6 class="card-title sub-title">3 years coverage</h6>
                  <p class="content card-text text-left">For the past 75 years, Sennheiser has put sound first.</p>
              </div>
            </div>
          </div>

      </div>
      <div class="row mt-2 .d-none .d-lg-block .d-xl-none">
          <P class="card-text sub-title">Features.</P>

          <div class="col col-lg-12 mb-2">
            <div class="card border-selected-color main-card">
              <div class="card-body" style="text-align: left;">
                  <h6 class="card-title sub-title">Voice Assistant support</h6>
              </div>
            </div>
          </div>
      </div>



      <div class="row mt-2 .d-none .d-lg-block .d-xl-none">
          <div class="col col-lg-12">
            <div class="card border-focus-no-selected-color main-card">
              <div class="card-body" style="text-align: left;">
                  <h6 class="card-title sub-title">Customizable controls</h6>
              </div>
            </div>
          </div>

      </div>

      <div class="row mt-2 .d-none .d-lg-block .d-xl-none">

         <div class="row col-lg-12">
            <table class="table">
              <tbody>
                <tr>
                  <td><P class="card-text sub-title">Specifications.</P></td>
                </tr>
                <tr>
                  <td>Dimensions: 76.8 x 43.8 x 34.7 mm (earbuds and charging case)</td>
                </tr>
                <tr>
                  <td>USB Standard: USB-C</td>
                </tr>
                <tr>
                  <td>Frequency response (Microphone):100 Hz to 10 kHz</td>
                </tr>
                <tr>
                  <td>Noise cancellation:Single-Mic ANC per earbud side</td>
                </tr>
              </tbody>
            </table>
         </div>
      </div>

    </div>

</div>



<footer class = "footer border">
    <div class = "row m-3">
        <div class="col col-lg-3 d-none d-sm-block">
            <h6 class="card-title sub-title">Free Shipping</h6>
            <P class="content card-text">Get 2-day free shipping anywhere in North America.</P>
        </div>
        <div class="col col-lg-3 d-none d-sm-none d-md-block">
            <h6 class="card-title sub-title">2 years warranty</h6>
            <P class="content card-text">If anything goes wrong in the first two years, we'll replace it for free.</P>
        </div>
        <div class="col col-lg-6" style="text-align: right;">
           <div class="row">
               <div class="col col-lg-10 " id="menu" style="text-align: right;">
                  <P class="content-price card-text">$295,95</P>
                  <P class="content card-text">Need financing? Learn more</P>
               </div>
               <div class="col col-lg-2" style="text-align: left;">
                  <button type="button" class="btn btn-info">Buy now</button>
               </div>
           </div>
        </div>
    </div>
</footer>

